body {
  font-family: 'Raleway', sans-serif;
  color: #696969;
  font-size: 1em;
}

ul {
    list-style-type: none;
}

h1 {
  text-align: center;
  color: #000000;
  line-height: 60px;
  font-size: 60px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h4 , h2 {
  text-align: center;
  color: #696969;
  line-height: 20px;
  font-size: 20px;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  text-align: center;
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.topnav {
  text-align: center;
  color: #696969;
  line-height: 15px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin-top: 40px;
}

a {
  color: #2F4F4F;
  font-weight: bold;
}

.topnav a {
  text-decoration: none;
  font-size: 20px;
  margin: 47px;
}

.linebreak {
  text-align: center;
  background-color: #333;
  overflow: hidden;
  line-height: 15px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  height: 20px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a.active {
  color: #799280;
}

.welcome-a {
  text-align: center;
  color: #696969;
  line-height: 20px;
  font-size: 20px;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

.welcome-b {
  text-align: center;
  color: #fff;
  line-height: 20px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}


.profile-a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 4.1em;
}

.profile-b {
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
  width: 100%;
  border-radius: 4.1em;
  padding-top: 1em;
}

p {
  text-align: center;
  color: #696969;
  line-height: 10px;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

.contact-info {
  margin-left: 15em;
  margin-top: 2.75em;
  list-style-type: none;
}

.contact-info li {
  margin-top: 15px;
  color: #fff;
  font-size: 1.2em;
 }



.content {
  color: #fff;
  border-radius: 4.1em;
  background-color: #798892;
}

.clear {
  clear: both;
}

img.contact {
  width: 90%;
  border-radius: 4.1em;
  padding-top: 20px;
  padding-bottom: 20px;

}

.footer {
  padding-top: 2.75em;

}

.cv tr:nth-child(3n+2) {

  text-align: center;
  margin-top: 30px;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}


.cv tr:nth-child(3n+0), .cv tr:nth-child(3n+1) {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-size: 1.0em;
}

.cv th {
  border-top: none;
}

.headline {
  text-align: center;
  color: #696969;
  line-height: 20px;
  font-size: 20px;
  font-style: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  font-weight: bold;
}
